JuegoSolitario/Connected Services/ServicioSolitario/Solitario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Solitario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Juego/Solitario?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Juego/Solitario?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Juego/Solitario?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioSolitario_RepartirCartas_InputMessage">
    <wsdl:part name="parameters" element="tns:RepartirCartas" />
  </wsdl:message>
  <wsdl:message name="IServicioSolitario_RepartirCartas_OutputMessage">
    <wsdl:part name="parameters" element="tns:RepartirCartasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSolitario_MovimientoColumnas_InputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoColumnas" />
  </wsdl:message>
  <wsdl:message name="IServicioSolitario_MovimientoColumnas_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoColumnasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSolitario_MovimientoFinal_InputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoFinal" />
  </wsdl:message>
  <wsdl:message name="IServicioSolitario_MovimientoFinal_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoFinalResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioSolitario">
    <wsdl:operation name="RepartirCartas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSolitario/RepartirCartas" message="tns:IServicioSolitario_RepartirCartas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSolitario/RepartirCartasResponse" message="tns:IServicioSolitario_RepartirCartas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovimientoColumnas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSolitario/MovimientoColumnas" message="tns:IServicioSolitario_MovimientoColumnas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSolitario/MovimientoColumnasResponse" message="tns:IServicioSolitario_MovimientoColumnas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovimientoFinal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSolitario/MovimientoFinal" message="tns:IServicioSolitario_MovimientoFinal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSolitario/MovimientoFinalResponse" message="tns:IServicioSolitario_MovimientoFinal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioSolitario" type="tns:IServicioSolitario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RepartirCartas">
      <soap:operation soapAction="http://tempuri.org/IServicioSolitario/RepartirCartas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoColumnas">
      <soap:operation soapAction="http://tempuri.org/IServicioSolitario/MovimientoColumnas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoFinal">
      <soap:operation soapAction="http://tempuri.org/IServicioSolitario/MovimientoFinal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Solitario">
    <wsdl:port name="BasicHttpBinding_IServicioSolitario" binding="tns:BasicHttpBinding_IServicioSolitario">
      <soap:address location="http://localhost:8080/Juego/Solitario" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>