JuegoSolitario/Connected Services/ServicioSolitario/Solitario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Juego/Solitario?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RepartirCartas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RepartirCartasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RepartirCartasResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoColumnas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="colorCartaSalida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCartaSalida" type="xs:int" />
        <xs:element minOccurs="0" name="colorCartaLlegada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCartaLlegada" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoColumnasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MovimientoColumnasResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoFinal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paloCartaSalida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCartaSalida" type="xs:int" />
        <xs:element minOccurs="0" name="paloCartaLlegada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCartaLlegada" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoFinalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MovimientoFinalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>